name: A workflow 
on: push

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          
      - name: Integration Tests
        working-directory: ./se_methods_cw
        run: |
          docker build -t database ./db 
          docker run --name db -dp 33060:3306 database
          mvn -Dtest=com.napier.sem.IntegrationTest test
          docker stop db
          docker rm db 
          docker image rm database

      - name: Package Application
        working-directory: ./se_methods_cw
        run: mvn package -DskipTests
